* {
  margin: 0;
  padding: 0;
}

body {
  padding: 20px;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
}

header > img {
  width: 60vw;
}

.aboutme,
.applications {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 75vw;
  border-radius: 40px;
}

.contactme {
  display: block;
  margin: auto;
  height: 6vh;
  width: auto;
}

.carousel .carousel-item > img {
  width: auto;
  border-radius: 60px;
}

.carousel {
  height: 75vh;
}

h1,
h2,
ul,
li {
  font-family: "Montserrat";
  text-align: center;
}

h2 {
  font-size: 2.5rem;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.header {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}

ul.header li a {
  color: white;
  font-size: 150%;
  text-decoration: none;
  padding: 15px;
  display: inline-block;
}

.active {
  filter: blur(1);
}

.button {
  width: 75%;
}

.figure {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}

@media (max-width: 599px) {
  header {
    font-size: 2rem;
  }

  p,
  h2 {
    font-size: 6px;
    padding: 0px;
    margin: 0;
  }
  .carousel .carousel-item > img {
    height: 50%;
    width: auto;
    border-radius: 60px;
  }
}
