* {
  margin: 0;
  padding: 0;
}

body {
  padding: 20px;
  margin: 0;
}

header,
header > img {
  justify-content: center;
  height: 17rem;
  width: auto;
  margin-left: 20px;
  margin-top: -30px;
  margin-bottom: -75px;
}

.carousel .carousel-item > img {
  height: inherit;
  width: auto;
  border-radius: 60px;
}

.collapsible,
.popout {
  display: inline-block;
  margin: auto;
}

.popoutitems {
  display: flex;
  width: fit-content;
}

.collapsible-header {
  align-items: center;
  justify-content: center;
  border: none;
}

.contactinfo > img,
.collapsible-body {
  padding: 0;
  border-radius: 0px;
}

h1,
h2,
ul,
li {
  font-family: "Montserrat";
  text-align: center;
}

p {
  font-size: 0.75rem;
  color: black;
  font-family: "Montserrat";
  text-align: center;
}

h2 {
  font-size: 2.5rem;
}

div > .figure > img {
  padding: 5px;
  justify-content: space-evenly;
  border-radius: 40px;
}

.figure > img:hover {
  filter: hue-rotate(180deg);
}

header {
  display: flex;
}

img.banner {
  width: 75%;
  height: auto;
  padding: 0;
  margin: auto;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.header {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}

ul.header li a {
  color: black;
  font-size: 100%;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}

.active {
  filter: blur(1);
}

.button {
  width: 75%;
}

.content.container {
  margin-left: auto !important;
  margin-top: 5%;
}
.content {
  color: black;
  padding: 10px;
  height: 75vh;
  width: 100vh;
  z-index: -1;
}

.content h2 {
  padding: 0;
  margin: 0;
}

.content li {
  margin-bottom: 10px;
}

.figure {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}

@media (max-width: 599px) {
  header {
    font-size: 2rem;
  }

  p,
  h2 {
    font-size: 6px;
    padding: 0px;
    margin: 0;
  }

  .content.container {
    max-width: 75vw;
  }

  img {
    display: block;
    width: 3rem;
  }

  .collapsible,
.popout {
  display: block;
  margin: auto;
}

.popoutitems {
  display: contents;
  width: inherit;
}

.collapsible-header {
  align-items: center;
  justify-content: center;
  border: none;
}

  .figure {
    justify-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .carousel .carousel-item > img {
    height: 50%;
    width: auto;
    border-radius: 60px;
}
}
